body {
    background-color: rgb(247, 227, 200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background_img {
    width: 100%;
    height: 800px;
}

.image-container {
    position: relative;
    text-align: center;
}

.overlay-text {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 60px;
}

.introduction-text {
    text-align: center;
    position: relative;
    line-height: 2.0;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
}

.grid-image {
    width: 100%;
    height: 250px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.grid-image:hover {
    opacity: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 2%;
    justify-content: center;
    padding-bottom: 50px;
}

.box {
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.box:hover {
    background-color: white;
}

.box a {
    color: black;
    text-decoration: none;
    display: block;
}

.box-content {
    opacity: 0;
    margin: 5px;
    transition: opacity 0.3s ease;
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.box:hover .box-content {
    opacity: 1;
}

.box:hover .grid-image {
    opacity: 0;
}